## Lab, 22.03.22

### Challenge 2 - Sets

In [311]:
import random

In [312]:
sample_list_1=random.sample(range(100), k=80)
sample_list_1

[20,
 99,
 73,
 60,
 76,
 44,
 58,
 91,
 40,
 19,
 49,
 81,
 83,
 35,
 78,
 48,
 67,
 94,
 18,
 82,
 90,
 96,
 15,
 23,
 89,
 26,
 30,
 66,
 1,
 68,
 59,
 74,
 22,
 43,
 36,
 11,
 45,
 5,
 29,
 64,
 53,
 50,
 9,
 85,
 80,
 63,
 88,
 38,
 93,
 54,
 86,
 24,
 2,
 61,
 77,
 39,
 0,
 25,
 87,
 27,
 32,
 17,
 46,
 7,
 28,
 21,
 75,
 71,
 69,
 51,
 33,
 70,
 3,
 31,
 52,
 55,
 65,
 10,
 84,
 97]

In [313]:
set1=set(sample_list_1)
len(set1)

80

In [314]:
sample_list_2=random.sample(range(100), k=80)
set2=set(sample_list_2)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 91, 92, 93, 95, 97, 98, 99}

In [315]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(1,100))
print(sample_list_2)
len(sample_list_2)

[78, 43, 75, 28, 61, 18, 33, 84, 95, 51, 2, 48, 61, 27, 94, 27, 72, 16, 56, 67, 32, 11, 52, 39, 81, 3, 21, 85, 40, 28, 6, 23, 98, 96, 36, 32, 41, 29, 22, 50, 79, 49, 55, 89, 14, 33, 67, 3, 50, 75, 93, 54, 77, 51, 87, 90, 58, 47, 83, 91, 94, 94, 43, 92, 50, 7, 3, 16, 44, 55, 71, 26, 76, 91, 45, 24, 83, 41, 65, 19]

80

In [316]:
set2=set(sample_list_2)
len(set2)

60

In [317]:
set3=(set1-set2)
set3

{0,
 1,
 5,
 9,
 10,
 15,
 17,
 20,
 25,
 30,
 31,
 35,
 38,
 46,
 53,
 59,
 60,
 63,
 64,
 66,
 68,
 69,
 70,
 73,
 74,
 80,
 82,
 86,
 88,
 97,
 99}

In [318]:
set4=(set2-set1)
set4

{6, 14, 16, 41, 47, 56, 72, 79, 92, 95, 98}

In [319]:
set5 = []
for i in set1:
      for n in set2:
            if i == n:
                set5.append(i)
print(set5)

[2, 3, 7, 11, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 32, 33, 36, 39, 40, 43, 44, 45, 48, 49, 50, 51, 52, 54, 55, 58, 61, 65, 67, 71, 75, 76, 77, 78, 81, 83, 84, 85, 87, 89, 90, 91, 93, 94, 96]

In [320]:
len(set1)

80

In [321]:
len(set2)

60

In [322]:
len(set3)

31

In [323]:
len(set4)

11

In [324]:
len(set5)

49

In [325]:
set6 = set()
set6.update(set5)
set6.update(set3)
print(set6)
len(set6)

{0, 1, 2, 3, 5, 7, 9, 10, 11, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 99}

80

In [326]:
if(set1) == (set6):
    print("Lists are equal")
else:
    print("Lists are not equal")

Lists are equal

In [327]:
set1.issubset(set2)

False

In [328]:
set1.issubset(set3)

False

In [329]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

Aggregated = set3.union(set4)
Aggregated2 = Aggregated.union(set5)
print(Aggregated2)
len(Aggregated2)

{0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

91

In [330]:
Aggregadted3 = set1.union(set2)
print(Aggregadted3)
len(Aggregadted3)

{0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

91

In [331]:
set1.pop()
print(set1)

{1, 2, 3, 5, 7, 9, 10, 11, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 38, 39, 40, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 97, 99}

In [332]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [333]:
removed = set(list_to_remove)
print(set1-removed)

{2, 3, 5, 7, 10, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 38, 40, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 58, 60, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 96, 97}